.footerButton {
    -fx-pref-height: 40px;
    -fx-pref-width: 220px;
    
    -fx-background-radius: 25px;
    -fx-background-color: #F3B709;
    -fx-background-insets: 2px;
    
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    
    -fx-effect: dropshadow(gaussian, black, 1, 1, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.footerButton:hover {
    -fx-background-color: #88AFE8;
}

.footerButtonPink {
    -fx-background-color: #FFA3B4;
}

.footerButtonYellow {
    -fx-background-color: #F5EBC4;
}

.footerButtonYellow:hover {
    -fx-background-color: #F3B709;
}

.footerButton:disabled {
    -fx-background-color: #D6C285;
}

.footer {
    -fx-padding: 30;
    -fx-alignment: center;
    -fx-spacing: 10px;
    
    -fx-background-color: #EB6E52;
    -fx-background-radius: 20px 20px 0 0;
    
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 20px 20px 0 0;
    
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.titleText {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 1);
}

.smileyText {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-font-family: serif;
}

.header {
    -fx-padding: 60px 40px 0 30px;
    -fx-background-color: #EFEBE3;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}

.BorderPane {
    -fx-background-color: #EFEBE3;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-outline: none;
}

.scrollPane {
    -fx-background-color: #EFEBE3;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

.scrollPane .thumb {
    -fx-background-color: #C8C3B4;
    -fx-background-radius: 25px;
}

.scrollPane .increment-button,
.scrollPane .decrement-button,
.scrollPane .scroll-bar:vertical {
    -fx-background-color: #EFEBE3;
    -fx-pref-width: 13px;
}

.scrollPane .increment-arrow,
.scrollPane .decrement-arrow {
    -fx-background-color: #C8C3B4;

}

.center {
    -fx-spacing: 10px;
    -fx-padding: 22px 30px 30px 30px;
    -fx-background-color: #EFEBE3;
}

.listCenter {
    -fx-spacing: 10px;
    -fx-padding: 22px 30px 30px 30px;
    -fx-background-color: #EFEBE3;
    -fx-min-height: 442px;
}

.textBox {
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-background-insets: 2px;
    
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-effect: dropshadow(gaussian, black, 1, 1, 1, 1);
    -fx-alignment: center-left;
    -fx-padding: 0 10px 0 10px;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-outline: none;
}

.textBox .content {
    -fx-background-color: white;
}

.textBox:focused .content,
.textBox .scroll-bar:vertical {
    -fx-background-color: white;
    -fx-pref-width: 10px;
    -fx-alignment: center;
}

.textBox .increment-button,
.textBox .decrement-button {
    -fx-background-color: white;
}

.textBox .thumb {
    /*-fx-background-color: #8E664A; -- a brown color */
    -fx-background-color: #E3E3E3;
}

.textBox .increment-arrow,
.textBox .decrement-arrow {
    -fx-background-color: #E3E3E3;

}

.largeBox {
    -fx-pref-height: 300px;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-padding: 10px;
}

.extraPadding {
    -fx-padding: 10px 0 0 0;
}

.mealType {
    -fx-background-color: green;
    -fx-min-width: 70px;
    -fx-max-width: 70px;

    -fx-min-height: 30px;
    -fx-max-height: 30px;

    -fx-background-radius: 10px;
}